.textBtn {
    color: var(--sub-color);
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    transition: color 150ms linear;
}

.textBtn:hover {
    color: var(--text-color);
}

.textBtn.active {
    color: var(--main-color);
}

.textBtn.active:hover {
    color: var(--text-color);
}

.textBtn:active {
    color: var(--sub-color) !important;
}

.textBtn:focus {
    color: var(--main-color);
}

.textBtn.sm {
    font-size: 0.75rem;
    line-height: 1rem;
}

.textBtn.med {
    font-size: 1rem;
    line-height: 1.3rem;
}

.textBtn.lg {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.contained-btn {
    background-color: var(--main-color);
    color: var(--bg-color);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 150ms linear;
}

.contained-btn:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.contained-btn:active {
    background-color: var(--sub-color) !important;
    color: var(--text-color);
}

.outlined-btn {
    background-color: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 150ms linear;
}

.outlined-btn:hover {
    background-color: var(--sub-color);
}
