@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}
:root {
    --main-color: black;
    --text-color: black;
    --bg-color: black;
    --sub-color: black;
    --sub-alt-color: black;
    --modal-background: rgba(0, 0, 0, 0.5);

    font-family: "Robotomono", monospace;
    /* font-family: "Lexend Deca", sans-serif; */
    user-select: none;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    transition: background-color 150ms linear;
}

footer {
    height: 2.5rem;
}

#__next {
    margin: auto !important;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 2rem;
    padding: 2rem;
    width: min(95vw, 1000px);
}

header {
    min-height: 3rem;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
    width: 100%;
}

.animated-hidden {
    transition: opacity 150ms ease-in-out, visibility 150ms ease-in-out;
    opacity: 0%;
    visibility: hidden;
}

.animated-visible {
    transition: opacity 150ms ease-in-out;
    opacity: 100%;
}

/*Media query for children of footer*/
footer > * {
    display: flex;
    flex-direction: row;
    align-items: end;
}
@media (max-width: 565px) {
    footer {
        justify-content: space-around !important;
    }
    footer > * {
        flex-direction: column;
        gap: 0px !important;
        align-items: baseline !important;
        align-self: center;
        height: 100% !important;
    }
}

/*   M O D A L   S T Y L I N G   */
.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.75) !important;
    z-index: 100;
}

.ReactModal__Content {
    background-color: var(--bg-color) !important;
    border-radius: 0.75rem !important;
    padding: 2rem !important;
    border-width: 0px !important;
    width: clamp(250px, 80%, 600px) !important;
    height: fit-content !important;
    margin: auto !important;
    transition: color 100ms linear, background-color 100ms linear;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}
