.starsContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.particle {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    animation-name: shine;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes shine {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}
